@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Tilt+Warp&display=swap');

/* ROOT */
:root{
    --background-height: 100vh;
    --viewport-height: 100vh;
    --gutters:1.5rem;
}
body{
    background-color: #0E0F13;
    color: white;

    min-height: var(--viewport-height);
    min-width: 320px;
    margin: 0;
    align-items: center;
}
html{
    font-size: 18pt;
}
/* Viewport Adjustments */
@media (max-width: 1680px) {
    html{
        font-size: 13pt;
    }
}
@media (max-width: 1280px) {
    html{
        font-size: 13pt;
    }
}
@media (max-width: 980px) {
    html{
        font-size: 11pt;
    }
}
@media (max-width: 768px) {
    html{
        font-size: 11pt;
    }
}

/* ONLOAD TRANSITIONS */
div.onLoadFadeIn, nav.onLoadFadeIn{
    opacity: 0;
    animation: fadeIn 1.25s ease-in-out forwards;
}
div.indexBody.onLoadFadeIn{
    opacity: 0;
    animation: fadeIn 1.25s ease-in-out forwards;
    animation-delay: .5s;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-8px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* SELECTORS */
::selection{
    background-color: #a480d3;
    color: #0E0F13;
}

/* DIVS */
.pageWrapper{
    min-height: var(--viewport-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    overflow: hidden;
    position: relative;
}
.liveArea{
    --spacing: 0.75rem;

    width: 50rem;
    max-width: 100%;

    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.innerContent{
    padding: 3rem;
}
.pageHeader{
    padding: 0 3rem;
}
.indexBody{
    padding: 1rem 3rem;
    display: flex;
}
#ibLeft{
    width: calc(42% + (var(--gutters) / 2));
}
#ibRight{
    width: calc(58% - (var(--gutters) / 2));
    padding: 0 0 0 var(--gutters);
    align-items: flex-start;
}

/* ELEMENTS */
h1, h2, h3, h4, h5, h6{
    font-family: "Tilt Warp", sans-serif;
    font-size: 4em;
    font-weight: 400;
}
p{
    font-family: "Asap", sans-serif;
    font-size: 1em;
    line-height: 1;
    font-weight: 500;

    margin: 0;
    padding: 0;
}
p.hello{
    font-weight: 700;
    font-size: 1.3em;
}
nav{
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    padding: 0 3rem;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.75rem;
}
ul, li{
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0;
}
#landingLogo{
    max-width: 100%;
}
span.marTop{
    margin-top: 1.125rem;
    display: block;
}
.gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--spacing);
}
.galleryItem{
    justify-content: center;
    text-align: center;
    width: 32%;
}
.bigGalleryItem{
    justify-content: center;
    text-align: center;
}
.galleryImg{
    width: 100%;
    border-radius: 0.5rem;
    transition-property: scale ease;
    transition-duration: .25s;
}
.galleryItem:hover > .galleryBtn{
    color: white;
    background-color: #654391;
    transform: scale(1.05);
}
.galleryItem:hover > a > .galleryImg{
    transform: scale(1.05);
}

/* HEADINGS */
.landingHeader{
    margin-bottom: 0.75rem;
    margin-top: -3rem !important;
    line-height: 1.125;
}
.landingHeader.whiteGlow{
    text-shadow: 0 0 0.5625rem rgba(255, 255, 255, .3);
}
.textHeader{
    font-family: 'Asap', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1;
    margin-top: 0;
    margin-bottom: .75rem;
}

/* STYLES */
.subheadSpace{
    margin-top: var(--spacing);
}
.centered{
    text-align: center;
}
.alignLeft{
    text-align: left;
}
.bold{
    font-weight: 700;
}
.whiteGlow{
    text-shadow: 0 0 0.375rem rgba(255, 255, 255, .3);
}
.allCaps{
    text-transform: uppercase;
}
#landingLogo{
    width: 18rem;
    border-radius: 1rem;
    max-width: 100%;
}
.bodyText{
    font-size: 1em;
    line-height: 1.375;
    font-weight: 600;
}
.bodyDivider{
    margin: 1.75rem 0;
    height: .15em;
    border: none;
    border-radius: .1em;
    background-color: white;
}

/* BUTTONS */
.navBtn{
    max-width: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 9.4rem;
    height: 2rem;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 0.625rem 0 rgba(255, 255, 255, .3);
    overflow: hidden;

    font-family: "Tilt Warp", sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    color: #0E0F13;
    text-decoration: none;
    text-transform: uppercase;
    
    transition-property: background-color, fill, scale ease;
    transition-duration: .25s;
}
.navBtn:hover{
    color: white;
    background-color: #654391;
    transform: scale(1.05);
}
.socialsBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: .5em;
    background-color: white;
    fill:#0E0F13;

    transition-property: background-color, fill, scale ease;
    transition-duration: .25s;
}
.socialsBtn:hover{
    background-color: #654391;
    fill: white;
    transform: scale(1.125);
}
.socialLogo{
    width: 1.25em;
    height: 1.25em;
}
.socialsList{
    max-width: 18rem;
    gap: 1.5rem !important;
    margin-top: 1.5rem !important;
}
.galleryBtn{
    margin: 0.5rem 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem 0 rgba(255, 255, 255, .3);
    overflow: hidden;
    
    color: #0E0F13;
    background-color: white;

    font-family: "Tilt Warp", sans-serif;
    font-weight: 400;
    font-size: 1.125em;
    text-decoration: none;
    text-transform: uppercase;

    transition-property: background-color, fill, scale ease;
    transition-duration: .25s;
}